<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros De Formacion Profesional - Pcia Buenos Aires</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CFP/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CFP/css/home.css' %}">

    <!--jquery-confirm css. Para crear alerts y confirm jquery con estilos css. Abajo está el js-->
    <!-- https://craftpip.github.io/jquery-confirm/ -->
    <link type="text/css" rel="stylesheet" href="{% static 'CFP/css/jquery-confirm.css' %}">

</head>
<body>
    <section class="container mt-4 mb-4">
        <p>
            <h3 class="text-center font-weight-bold">CENTROS DE FORMACION PROFESIONAL</h3>
        </p>
        <p>
            <h4 class="text-center font-weight-bold">PROVINCIA DE BUENOS AIRES</h4>
        </p>
        
    </section>

    <header class="navbar navbar-expand-sm bg-dark text-white sticky-top mt-4">
        {# Form para buscador por localidades #}
            
            {% if miscursos %}
                <a href="{% url 'home' %}" class="text-decoration-none text-white font-weight-bold">
                    Volver a inicio
                </a>
            {% else %}
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Localidad" name="localidad" value="{{request.POST.localidad}}" >
                    <div class="input-group-append">
                      <button id="buscar" class="btn btn-outline-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
            {% endif %}
                
        {# Opciones Barra Navegacion Usuario#}
        <ul class="navbar-nav ml-auto">
            
            {% if usuario.is_authenticated %}
                
                {% if usuario.is_superuser %}
                    <li class="nav-item">
                        <span class="mr-3">Administrador: {{usuario.username}}</span>
                    </li>

                    <li class="nav-item">
                        <a href=" {% url 'menu' %} " class="btn btn-outline-primary btn-sm mr-3">Menu Administracion</a>
                    </li>

                {% elif usuario.es_preceptor%}
                    <li class="nav-item">
                        <span class="mr-3">Director {{usuario.preceptor.cfp}}: {{usuario.username}}</span>
                    </li>

                    <li class="nav-item">
                        <a href=" {% url 'menu' %} " class="btn btn-outline-primary btn-sm mr-3">Menu Preceptor</a>
                    </li>

                {% elif usuario.es_alumno %}
                    <li class="nav-item"><span class="mr-3 font-weight-bold">{{usuario.first_name}} {{usuario.last_name}}</span></li>
                    
                    
                    {% if miscursos %}
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm mr-3">{{miscursos}}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'misCursos' %}" class="btn btn-outline-primary btn-sm mr-3">Mis Cursos</a>
                        </li>
                    {% endif %}
                    
                {% endif %}
                <li class="nav-item">
                    <a href=" {%url 'logout'%} " class="btn btn-outline-primary btn-sm">Cerrar Cesion</a>
                </li>
                    
                
            {% else %}
                <li class="nav-item mr-3">
                    {#<button class="mr-2 btn btn-primary">Ingeresar</button>#}
                    <a href=" {%url 'login'%} " class="btn btn-primary">Ingresar</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'crearAlumno' %}" class="btn btn-primary">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </header>
    
    {% block Contenido %}
        
    {% endblock Contenido %}
            


    {#JS jQuery, Popper, Bootstrap#}
    <script src=" {% static 'CFP/js/jquery-3.6.0.min.js' %} "></script>
    <script src=" {% static 'CFP/js/popper.min.js' %} "></script>
    <script src=" {% static 'CFP/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'CFP/js/universal-parallax.min.js' %}"></script>
    
    <!--plugin para alerts de javascript (jquery) con estilos css y funciones varias-->
    <script src="{% static 'CFP/js/jquery-confirm.js' %}"></script>
    
    {% block jquery %}
                
    {% endblock jquery %}
        
</body>
</html>
