{% extends 'Usuarios/menuPreceptor.html' %}


{% block Contenido %}

    {% load crispy_forms_tags %}
    
    <form action="" method="post" id="frmEdit" autocomplete="off" class="m-4">
        {% csrf_token %}
        <di class="form-row">
            <div class="col-md-8">
                {{form.nombre | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.cantHoras | as_crispy_field}}
            </div>
        </di>

        <div class="form-row mt-4 mb-4">
            <div class="col-md-4">
                {{form.inscAbierta | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.habilitado | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.practico | as_crispy_field}}
            </div>
        </div>

        <div class="form-row mb-4">
            
            <div class="col-md-4">
                {{form.fechaInicio | as_crispy_field}}
            </div>
            <div class="col-md-4 mb-5">
                {{form.fechaFin | as_crispy_field}}
            </div>
            <div class="col-md-4 mb-5">
                {{form.profesor | as_crispy_field}}
            </div>
        </div>

        <div class="form-row mb-4">
            
            <div class="col-md-4">
                {{form.cupoMin | as_crispy_field}}
            </div>
            <div class="col-md-4 mb-5">
                {{form.cupoMax | as_crispy_field}}
            </div>
        </div>

        
        {% comment %}
            Hasta acá los campos del formulario
            Lo que sigue son los dias y horarios
        {% endcomment %}
        <hr class="mt-4">

        <p class="h5 text-center">Dias y Horarios En los que se dicta el curso</p>
        
        <div class="form-row">
            {% for dia in curso.diasHorarios.all %}
                
            <div class="col-md-3">
                <p>{{dia}} De: {{dia.horaInicio}} a {{dia.horaFin}}</p>
            </div>    
            
            
            {% endfor %}
        </div>

        <hr>
        <p class="h5 text-center">Editar Dias y Horarios</p>
            
        <p>
            <input type="checkbox" class="dias" id="lunes" name="dias" value="Lunes">
            <label for="dias">Lunes</label>
            <input type="time" class="LunesI" name="horaInicio" id="" disabled>
            <input type="time" class="LunesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Lunes" style="color: red;"></span>
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Martes">
            <label for="dias">Martes</label>
            <input type="time" class="MartesI" name="horaInicio" id="" disabled>
            <input type="time" class="MartesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Martes" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Miercoles">
            <label for="dias">Miercoles</label>
            <input type="time" class="MiercolesI" name="horaInicio" id="" disabled>
            <input type="time" class="MiercolesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Miercoles" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Jueves">
            <label for="dias">Jueves</label>
            <input type="time" class="JuevesI" name="horaInicio" id="" disabled>
            <input type="time" class="JuevesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Jueves" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Viernes">
            <label for="dias">Viernes</label>
            <input type="time" class="ViernesI" name="horaInicio" id="" disabled>
            <input type="time" class="ViernesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Viernes" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Sabado">
            <label for="dias">Sabado</label>
            <input type="time" class="SabadoI" name="horaInicio" id="" disabled min="07:00" max="22:00">
            <input type="time" class="SabadoF" name="horaFin" id="" disabled min="07:00" max="22:00">
            <span class="ml-2" id="Sabado" style="color: red;"></span>
            
        </p>

        <input type="submit" id="btnGuardar" class="btn btn-success" value="Guardar">
        <a href="{% url 'preLstCursos' %}" class="btn btn-danger">Cancelar</a>
    </form>

    
{% endblock Contenido %}


{% block jquery %}
   
<script>
    let Dias = $('input[name="dias"]')

    //Funcionalidad para habilitar la edicion de los inputs tipo time
    //Cuando cambia el estado de un checkbox
    $('.dias').change(function(){
        //pruebas
        //alert('clicked')

        //Creo una array con todos los inputs (checkbox) con nombre "dias"
        let checks = $('input[name="dias"]')
        //pruebas
        //console.log(checks.length);

        //Por cada elemento del array, cada checkbox
        $(checks).each(function(){
            //pruebas
            //console.log(this.value)
            //pruebas
            //$('.habilitar').prop("disabled", false);
            
            //Guardo el valor del checkbox, que tambien es el nombre de la clase de los
            //inputs de tipo "time" que le corresponde a cada checkbox
            let claseTime = this.value
            
            //Si el checkbox es "tildado"
            if ($(this).is(":checked")){
                //pruebas
                //alert("Clase: "+clase)

                //Le saco la propiedad "disaabled" a los "time" con esa clase
                $('.'+claseTime+'I').prop("disabled", false);
                $('.'+claseTime+'F').prop("disabled", false);

            }
            //Si el checkbox no es "tildado"
            else{
                //pruebas
                //alert('naditas')

                //Le agrego la propiedad "disabled" a los time con esa clase
                $('.'+claseTime+'I').prop("disabled", true);
                $('.'+claseTime+'F').prop("disabled", true);
                
                //Borro el valor que tiene el input "time"
                $('.'+claseTime+'I').val("");
                $('.'+claseTime+'F').val("");
                
            }

        })
    })


    //Validar que input time no este vacio si checkbox es checked
    //Cada vez que se encuentre un input vacio al recorrer el array "Dias"
    //se agrega un elemento al array "vacios"
    let errores = []

    $('#btnGuardar').click(function(e){
        e.preventDefault()
        
        /*Limpio el array de para que cada vez que se itera solo esten los
        valores que realmente esten vacios*/
        errores = []
        console.clear();

        //Itero sobre cada elemento de "Dias"
        $(Dias).each(function(){

            //Guardo la clase del checkbox
            let clase = this.value

            //Limpio el span que muestra mensaje de error de cada input
            $('#'+clase).text('')

            //Si el checkbox es "tildado"
            if ($(this).is(":checked")){
                
                //Guardo el string que representa el nombre de la clase para
                //los inputs tipo time
                let itimeI = $('.'+clase+'I')
                let itimeF = $('.'+clase+'F')
                
                //si el input time está vacio
                if( (itimeI.val() == "") || (itimeF.val() == "") ){
                    
                    //Agrego un elemento a la lista vacios
                    errores.push($(this))
                    console.clear()
                    console.log('Vacios: '+errores.length+' Input: '+clase)
                    
                    //Le asigno al span un mensaje de error
                    $('#'+clase).append('Completar Valores')
                
                // RANGO DE HORARIOS
                //Inicio
                }else if (itimeI.val()<"07:00" | itimeI.val()>"22:00"){
                    errores.push($(this))
                    console.clear()
                    console.log('iTimeI: '+errores.length)
                    $('#'+clase).append('El horario debe ser entre 7am y 10pm ')

                }else if (itimeF.val()<"07:00" | itimeF.val()>"22:00"){
                    errores.push($(this))
                    console.clear()
                    console.log('iTimeF: '+errores.length)
                    $('#'+clase).append('El horario debe ser entre 7am y 10pm ')

                }else if (itimeI.val()>itimeF.val()){
                    errores.push($(this))
                    console.clear()
                    console.log('ALVESRRRE: '+errores.length)
                    $('#'+clase).append('El Horario De Inicio Debe Ser Menor Al De Fin ')
                }   
            }
            
        })
        
        //Fecha Actual
        let fechaActual = new Date();
            
            //Tomo el valor de Fecha De Inicio
        let valFechaInic = $('#id_fechaInicio').val();
        
        //Concateno a "valFechaInic" hh:mm:ss para poder convertir a Date()
        let valFechaCompleto = valFechaInic+"T00:00:00";

        //Convierto "valFechaCompleto" a tipo Date()
        let fechaInputDate = new Date(valFechaCompleto);

        let fIni = $('#id_fechaInicio').val()
        let fFin = $('#id_fechaFin').val()
                        
        if (fechaInputDate < fechaActual){
            errores.push(fechaInputDate);
            alert('La Fecha De Inicio Del Curso No Puede Ser Anterior A Hoy');
            console.log(errores);

        }else if (fIni > fFin){
            errores.push(fIni, fFin);
            alert('La Fecha De Inicio Del Curso Debe Ser Anterior A la Fecha De Finalizacion');
            console.log(errores);
        }
        
        if (errores.length == 0){
            console.log( "Envia Calores por POST | Errores: "+ errores.length);
            //Envio el formulario
            $('#frmEdit').submit()
        }

    })
</script>

{% endblock jquery %}
    